h2, h1, p, span, div, body, span, form, nav, input[type="submit"], img, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  display: block;
  border: 0; }

body {
  font-family: helvetica;
  background: #fff; }

#twenty {
  display: block;
  width: 100%;
  background: none;
  height: 20px;
  clear: both; }

input, select, textarea {
  outline: none; }

textarea, input[type='text'], input[type='password'] {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 5px 2px 5px;
  border: 0;
  height: 30px;
  width: 160px;
  border: 0.1em solid #000; }

select {
  height: 30px;
  padding: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  width: 160px;
  border: 0;
  outline: none;
  background: transparent;
  border: 0.1em solid #000;
  cursor: pointer; }

#button {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #262626;
  font-size: 1.1em;
  color: white;
  border: 2px solid #202020; }
  #button:hover {
    cursor: pointer;
    background: #141415; }

::selection {
  background: #262626;
  color: #fff; }

::-moz-selection {
  background: #262626;
  color: #fff; }

.head {
  background: black;
  width: 100%;
  position: fixed;
  height: 40px; }

.left_head {
  float: left;
  display: inline-block;
  color: white;
  width: 450px;
  text-align: left;
  line-height: 40px;
  padding-left: 20px; }
  .left_head #user {
    display: inline-block; }

.right_head {
  text-align: right;
  float: right;
  color: white;
  padding-right: 20px;
  display: inline-block;
  line-height: 40px;
  height: 40px; }
  .right_head .cart_count {
    display: inline-block; }
  .right_head a {
    margin-left: 20px;
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    text-decoration: none; }
    .right_head a:hover {
      text-decoration: underline;
      cursor: pointer; }
  .right_head form {
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 20px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 20px; }

.exit {
  color: white;
  box-sizing: border-box;
  display: inline;
  font-size: 1em;
  float: right;
  height: 30px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: none; }
  .exit:hover {
    text-decoration: underline;
    cursor: pointer; }

.sidebar {
  top: 40px;
  width: 200px;
  box-sizing: border-box;
  padding-left: 20px;
  float: left;
  background: #e7e7e7;
  position: fixed;
  height: calc(100vh - 40px); }
  .sidebar #search {
    width: 100%; }

.content {
  margin-top: 40px;
  width: calc(100% - 200px);
  box-sizing: border-box;
  float: right; }
  .content hr {
    background: #000;
    margin: 0;
    padding: 0; }

.order {
  padding: 0 20px 0 20px; }
  .order:hover {
    background: #eee; }
  .order h3 {
    width: 40%;
    display: inline-block; }

.author {
  float: right;
  display: inline-block;
  width: 40%;
  text-align: right; }

.buy {
  float: right;
  width: 100px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  background: #728838;
  color: white;
  text-decoration: none; }
  .buy:hover {
    background: #94af4e; }

#pagest {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 1.2em; }
  #pagest h3 {
    height: 20px;
    line-height: 20px;
    font-size: 1.2em; }
  #pagest a {
    color: #777;
    text-decoration: none; }
    #pagest a:hover {
      color: black; }

.sel {
  float: left;
  background: url(img/str.png) no-repeat right;
  background-color: #fff;
  width: 160px;
  height: 30px; }

.name_sel {
  clear: both; }

.logform, .defaultform {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  display: block; }
  .logform input, .logform textarea, .defaultform input, .defaultform textarea {
    box-sizing: border-box;
    height: 40px;
    border: 2px solid #e7e7e7;
    width: 300px;
    margin: 0 auto;
    padding-left: 4px; }
  .logform textarea, .defaultform textarea {
    height: 80px; }
  .logform input[type='submit'], .defaultform input[type='submit'] {
    width: 300px;
    box-sizing: border-box;
    background: #262626;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.1em; }
    .logform input[type='submit']:hover, .defaultform input[type='submit']:hover {
      background: #141415; }
  .logform a, .defaultform a {
    text-decoration: none;
    color: black; }
    .logform a:hover, .defaultform a:hover {
      text-decoration: underline;
      color: #262626; }

.logform {
  margin-top: 200px; }

#table {
  margin: 0 auto; }
  #table td {
    padding: 7px;
    border: 2px solid #fff;
    background: #e7e7e7; }

/*# sourceMappingURL=s.css.map */